{% extends 'base.html' %}
{% block title %}home{% endblock title %}
{% block body %}
<img src="https://picsum.photos/1680/800" class="img-fluid" alt="...">
       <section id="feature" class="px-5 pb-5 pt-2">

		<div class="container p-5">

			<div class="heading text-center p-3">
							<h4 class="p-3">WHY CHOOSE APEX COLLEGE ?</h4>
							<hr>

					</div>


				<div class="row">

	   		<div class="col-md-4 why-apex text-center p-2">
						<i class="fa fa-home p-2"></i>
						<div class="p-2"><h5 class="sub-heading">
						Focus on Academic Excellence

						</h5></div>
						<p>Education at Apex offers you with limitless possibilities. Our more than 150 courses, taught by recognized faculty members of the nation and enriched by our......

						</p><p class="see-more absolute"><a href="">See More</a></p>

                    </div>
										<div class="col-md-4 why-apex text-center p-2">
						<i class="fa fa-home p-2"></i>
						<div class="p-2"><h5 class="sub-heading">
						Impressive Student–Faculty Ratio

						</h5></div>
						<p>We probably have the largest and most diversified team of full-time faculty, among private&nbsp;management colleges in Nepal. This large number of full time faculty ensures......

						</p><p class="see-more absolute"><a href="">See More</a></p>

                    </div>
										<div class="col-md-4 why-apex text-center p-2">
						<i class="fa fa-home p-2"></i>
						<div class="p-2"><h5 class="sub-heading">
						Excellent Career Counseling and Placement Services

						</h5></div>
						<p>Apex Career Services (ACS) facilitates our students’ internship, placement and life-long career development. As a result, the placement record of our graduates is impressive. Led......

						</p><p class="see-more absolute"><a href="">See More</a></p>

                    </div>
										<div class="col-md-4 why-apex text-center p-2">
						<i class="fa fa-home p-2"></i>
						<div class="p-2"><h5 class="sub-heading">
						Student-led Clubs, Events, and Activities

						</h5></div>
						<p>One of the outstanding features of Apex is that you will have an opportunity to be a part of different clubs and events. There are......

						</p><p class="see-more absolute"><a href="">See More</a></p>

                    </div>
										<div class="col-md-4 why-apex text-center p-2">
						<i class="fa fa-home p-2"></i>
						<div class="p-2"><h5 class="sub-heading">
						Global Connections

						</h5></div>
						<p>Since global connection is one of our core values at Apex, we deeply believe that our students must get international exposure to expand their global......

						</p><p class="see-more absolute"><a href="">See More</a></p>

                    </div>
						<div class="col-md-4 why-apex text-center p-2">
						<i class="fa fa-home p-2"></i>
						<div class="p-2"><h5 class="sub-heading">
						Apex Student Counseling Services (ASCS)	</h5>
            </div>
						<p>Apex Student Counseling Services (ASCS) guides and supports you in your academic and personal growth. Led by our expert faculty, the counseling services help you......

						</p><p class="see-more absolute"><a href="">See More</a></p>

                    </div>
				</div>
				</div>
	</section>

	<div class="wow fadeIn py-5" style="visibility: visible; animation-name: fadeIn;">
      <div class="section-break"></div>
      <div class="section-title"><h4 class="section-heading" style="text-align: center">Apex Online</h4></div>
    </div>

	<section class="px-5 pb-5">

      <div class="container">

        <div class="row online-div">
        
        <div class="col-md-5 newshow why-apex p-2 offset-md-1 wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
            <img data-src="/static/1.jfif" alt="" class="img-fluid" style="width: 100%;height: 274px; object-fit:cover;border: 3px solid #8b0304;" src="/static/1.jfif">
          </div>

          <div class="col-md-5 newshow why-apex p-2 offset-md-1 wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
            <p class="text-justify p-2">Apex Online is a complete modern online learning management system at Apex.
This takes students beyond their normal course content to create a community of
students away from the college premises that are engaged in expanding ideas,
sharpening skills and fostering relationships among themselves. This community is
always advancing itself with changing times.<br>Apex College has recently provided training on digital learning technologies to a
team of more than 100 faculty and staff members. Apex Online is now well-prepared
to meet the challenges of modern day learning and provides the best possible
educational experience to students.</p><p>
          </p></div>

          

        </div>

        </div>

    </section>

    <section id="numbers" class="position-relative pb-5" style="background: linear-gradient(rgba(127,0,0,0.2),rgba(0,0,0,0.2));
    >
			
			<img src="" alt="" class="position-absolute">
						<div class="container-fluid p-5 text-center">
				<div class="numbers">
				<div class="row">

				    					<div class="col-md-3">
						<span class="numscroller roller-title-number-1 scrollzip isShown, data-min="1" data-max="6" data-delay="5" data-increment="10" data-slno="1">6</span>
						<hr>
						<p styl">Academic Programs</p>
					</div>
					<div class="col-md-3">

						<span class="numscroller roller-title-number-2 scrollzip isShown, data-min="1" data-max="100" data-delay="5" data-increment="10" data-slno="2">100</span>
						<hr>
						<p style>Faculty</p>
					</div>
					<div class="col-md-3">
						<span class="numscroller roller-title-number-3 scrollzip isShown, data-min="1" data-max="15" data-delay="5" data-increment="10" data-slno="3">15</span>
						<hr>
						<p style>Annual Events</p>
					</div>
					<div class="col-md-3">

						<span class="numscroller roller-title-number-4 scrollzip isShown, data-min="1" data-max="3495" data-delay="5" data-increment="10" data-slno="4">3495</span>
						<hr>
						<p style>Alumni</p>
					</div>
										</div>
				</div>

			</div>

				</section>

{% endblock %}
